# tmp files
*~

# netbeans project files
/nbproject/

# Code::Blocks project files
/*.cbp
/*.layout

# Visual Studio Code configuration files
.vscode

# python byte code
*.pyc

# original backup files
*.orig

# clion project files
.idea/

# pycharm project files
lib/python/.idea/

# doxygen output
docs/xml/
docs/doxygen_sqlite3.db
docs/html/
docs/latex/
xml/
# sphinx & breathe output
docs/build/
